.input1{ 
 
   padding: 100px;
padding: 0 30em;
}
.input2 {
  border: 2px solid black;
  font-weight: bold;
}
.bu{
  padding: 0 43em;
  margin: 80px;
}
.input3 {
  border: 2px solid black;
  font-weight: bold;
  height: 27px;
}
.input7 {
   background-color: #E3F7F7;
}